<div>
    <h2>Feeds</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="feed.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Feed</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>Image</th>
                    <th>Source</th>
                    <th>PublicationDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feed in feeds track by feed.id">
                    <td><a ui-sref="feed.detail({id:feed.id})">{{feed.id}}</a></td>
                    <td>{{feed.title}}</td>
                    <td>{{feed.description}}</td>
                    <td>{{feed.link}}</td>
                    <td>{{feed.image}}</td>
                    <td>{{feed.source}}</td>
                    <td>{{feed.publicationDate}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="feed.detail({id:feed.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="feed.edit({id:feed.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="feed.delete({id:feed.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
