
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myFeedLabel">Create or edit a Feed</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="feed.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="feed.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="feed.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="feed.link"
                    required />
            <div ng-show="editForm.link.$invalid">
                <p class="help-block"
                    ng-show="editForm.link.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_image">Image</label>
            <input type="text" class="form-control" name="image" id="field_image"
                    ng-model="feed.image"
                     />
        </div>
        <div class="form-group">
            <label for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="feed.source"
                    required />
            <div ng-show="editForm.source.$invalid">
                <p class="help-block"
                    ng-show="editForm.source.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_publicationDate">PublicationDate</label>
            <input type="text" class="form-control" name="publicationDate" id="field_publicationDate"
                    ng-model="feed.publicationDate"
                    required />
            <div ng-show="editForm.publicationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.publicationDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
