<div>
    <h2>Events</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="event.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Event</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>EventDate</th>
                    <th>Venue</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events track by event.id">
                    <td><a ui-sref="event.detail({id:event.id})">{{event.id}}</a></td>
                    <td>{{event.name}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.eventDate | date:'medium'}}</td>
                    <td>{{event.venue}}</td>
                    <td>{{event.image}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="event.detail({id:event.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="event.edit({id:event.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="event.delete({id:event.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
